@font-face {
    font-family: 'Fivo Sans Modern';
    src: url('FivoSansModern-Oblique.woff2') format('woff2'),
        url('FivoSansModern-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans Modern';
    src: url('FivoSansModern-Regular.woff2') format('woff2'),
        url('FivoSansModern-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans Modern';
    src: url('FivoSansModern-Bold.woff2') format('woff2'),
        url('FivoSansModern-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
